@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(36, 100%, 99%);
}

.wrapper {
    width: 80%;
    max-width: 1400px;
    min-width: 1200px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}



header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-right: 2em;

}

ul li:last-of-type {
    margin-right: 0;
}

li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

li a:hover {
    color: hsl(5, 85%, 63%);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.2fr, 1fr, 1fr;
    grid-template-areas: "img img aside" "h1 main aside" "section1 section2 section3";
    gap: 3rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    grid-area: img;
}

hr {
    border: 0.5px solid hsl(236, 13%, 42%);
    margin: .5rem 0;
}

aside {
    grid-area: aside;
    background-color: hsl(240, 100%, 5%);
    color: hsl(236, 13%, 42%);
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
}

aside a {
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}

aside a:hover {
    color: hsl(35, 77%, 62%);
}

h2 {
    color: hsl(35, 77%, 62%);
    margin: 1rem 0;
    font-size: 2.5em;
}

h3 {

    margin: 1rem 0;
    font-size: 22px;
}

aside p {
    margin: 1.5em 0;
    color: hsl(233, 8%, 79%);
}

h1 {
    font-size: 53px;
    font-weight: 900;
}

main {
    grid-area: main;
    color: hsl(236, 13%, 42%);
    padding-right: 2rem;
}

.readmore {
    background-color: hsl(5, 85%, 63%);
    padding: 1rem 1.2rem;
    margin: 2rem 0;
    width: 50%;
    text-align: center;
}

.readmore a {
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;

}

.readmore:hover {
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

section {
    display: flex;
}

.section-img {
    width: 100px;
    height: 120px;
    margin-right: 1rem;
}

h4 {
    color: hsl(233, 8%, 79%);
    font-size: 30px;
}

h5 {

    font-size: 20px;
    margin-bottom: 1rem;
}


.about p {
    color: hsl(236, 13%, 42%);
}

.about a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

.about a:hover {
    color: hsl(5, 85%, 63%);
}

footer {
    margin-top: 2rem;
}

#mobile-menu {
    display: none;
}

.open-menu {
    display: none;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 95%;
        min-width: 300px;
        max-width: 1000px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .open-menu {
        border: none;
        display: block;
        position: absolute;
        top: 4rem;
        right: 2rem;
    }

    #mobile-menu {
        width: 75%;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background-color: hsl(36, 100%, 99%);
        padding: 2rem;
        box-shadow: -114px 1px 25px 19px rgba(59, 70, 117, 0.48);
        -webkit-box-shadow: -114px 1px 25px 19px rgba(59, 70, 117, 0.48);
        -moz-box-shadow: -114px 1px 25px 19px rgba(59, 70, 117, 0.48);
    }

    #mobile-menu ul {
        margin-top: 3rem;
        color: hsl(240, 100%, 5%);
        display: flex;
        flex-direction: column;
    }

    #mobile-menu ul li {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .close-menu {
        text-align: right;

    }

    .close-btn {
        border: none;
        background-color: hsl(36, 100%, 99%);
        position: absolute;
        top: 4rem;
        right: 2rem;
    }

    #desktop-menu {
        display: none;
    }
}